Sign Up Page

<form action="/signup" method="POST">
  <br><label>Name:</label>
  <br><input type="text" name="user[name]">
  <br><label>Email:</label>
  <br><input type="text" name="user[email]">
  <br><label>Password:</label>
  <br><input type="password" name="user[password]">
  <br><label>Password Confirmation:</label>
  <br><input type="password" name="user[password_confirmation]">
  <br><input type="submit">
</form>