Sign In Page

<form action="/signin" method="POST">
  <br><label>Email:</label>
  <br><input type="text" name="user[email]">
  <br><label>Password:</label>
  <br><input type="password" name="user[password]">
  <br><input type="submit">
</form>