<h2>Create New Deck </h2>

  <form action="/deck/new" method = "POST">
    <label>Name Your Deck </label>
      <h1><input type="text" name='deck[topic]' placeholder="Deck Title" size="25"></h1>
      <input type="submit" value="Submit">
  </form>