<div id='user_decks'>
  <h3>My Decks</h3>
  <ol>
    <% user_decks.each do |deck| %>
      <li class='user_attributes'><a href='/deck/<%= deck.id %>'><%= deck.topic %></a></li>
    <% end %>
  </ol>
  <div id='new_deck_button'>
    <a href='/deck/new'>Create New Deck</a>
  </div>
</div>
