<h2><% @deck.topic %></h2>
<h3>Number of Cards <span class="numbers"><%= @cards.count %></span></h3>
<h3>Cards Remaining <span class="numbers">3</span></h3>
<div id="scoreboard">
  <table>
    <thead>
      <tr>
        <th>SCOREBOARD</th>
      </tr>
    </thead>
    <tr>
      <td>correct</td>
      <td>incorrect</td>
    </tr>
    <tr>
      <td><%= @round.num_correct %></td>
      <td><%= @round.num_incorrect %></td>
    </tr>
  </table>
</div>
<div id="current_card">
  <%= erb :_card, locals: {card: card, round: @round, user: @user} %>
</div>

