<table>
  <thead>
    <tr>
      <th colspan="2">SCOREBOARD</th>
    </tr>
  </thead>
  <tr>
    <td>correct</td>
    <td>incorrect</td>
  </tr>
  <tr>
    <td><%= round.num_correct %></td>
    <td><%= round.num_incorrect %></td>
  </tr>
</table>

