
<div class="container">


</div>


  <% @decks.each_slice(3) do |three_decks| %>
    <div class="row">
      <div class="row-same-height">
    <% three_decks.each do |deck| %>
      <div class="col-md-4 col-md-height">
        <a class="deck-small-link" href="javascript:get_deck_id(<%= deck.id %>)">
          <div class="deck-small"><%= deck.name %></div>
        </a>
      </div>
    <% end %>
      </div>
    </div>
  <% end %>

<form name="newRoundForm" action="/rounds/new" method="POST">
  <input type="hidden" name="deck_id" id="deck_id">
</form>

<script language="JavaScript">
  function get_deck_id(deck_id) {
    document.newRoundForm.deck_id.value = deck_id;
    document.newRoundForm.submit();
  }
</script>

